textarea {
    margin-top: 17px;
    width: 95%;
    height: 100px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    border: 2px solid black;
    font-size: 22px;
    text-align: justify;
    font-weight: bold;
    resize: vertical;
    overflow-y: none;
    word-wrap: break-word;
}

#modal-description {
    width: 100%;
    min-height: 20px;
    background-color: grey;
}

.dropbtn {
    background-color: #3498db;
    display : flex;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width : 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980b9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    max-width : 45%;
    overflow : hidden;
    text-overflow: ellipsis;
}

.dropdown-content:hover {
    background-color: #ddd;
}

.menus{
    background-color: #f1f1f1;
    position: absolute;
    z-index : 40;
}

.menus div:hover {
    background-color: #ddd;
}

#board-menu{
    position : absolute;
    z-index : 102;
}

#dropDownBoard{
    display : flex;
    justify-content : space-around;
}