body {
    min-height : 96vh;
    max-height : 96vh;
    display : flex;
    flex-direction: column;
}

.titleHeading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: wrap;
    flex-shrink: 0;
}

#kanban {
    min-width: 95vw;
    flex-grow: 1;
    display: flex;
}

.header-item {
    margin: 10px;
}

.boards {
    align-items: center;
    display: flex;
}

.board {
    min-width: 250px;
    max-width: 250px;
    flex-shrink : 0;
    flex-grow : 1;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.board-header {
    width: 100%;
    min-height: 40px;
    height: 120%;
    background-color: #62466b;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 6px;
    flex: 1 0 auto;
}

.board-heading {
    width: 200px;
}

.content {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

h2 {
    word-wrap: break-word;
}

.item {
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-self: center;
    border: 2px solid black;
    margin: 4px;
    word-wrap: break-word;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3px;
    border-radius: 6px;
    background-color: #b5c2b7;
}

button {
    padding: 7px;
    width: 100%;
    background-color: #8c93a8;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    margin: 2px;
    flex: 1 0 auto;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 100;
    padding: 20px;
    left: 0;
    top: 0;
}

.modal-box {
    display: flex;
    padding : 20px;
    flex-direction: row-reverse;
    border-radius: 20px;
    position: relative;
    border: 2px solid black;
    min-width: 80vw;
    min-height: 70vh;
    opacity: 1;
    background-color: white;
    box-shadow: 5px 10px;
}

.closeModal {
    background-color: rgba(255, 0, 0, 0.527);
    width: 40px;
    height: 40px;
    top: 0px;
    right: 0px;
    border-radius: 20%;
    margin: 10px;
}

.modal-text {
    word-wrap: break-word;
    width: 80%;
    height: 100%;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left : 15px;
    flex-grow : 1;
}

.roundIcon {
    display : flex;
    height : 30px;
    width : 30px;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin : 2px;
}

#comment {
    min-width: 98%;
}
i {
    margin-top: 5px;
}

.userList{
    display : flex;

}